:root {
    --dark: rgb(20,20,20);
    --yellow: rgb(253,216,53);
    --blue: rgb(98,0,234);

    --c1: rgb(38,70,83);
    --c2: rgb(42,157,143);

    --left-color: var(--c1);
    --right-color: var(--c2);
}